@model Project_1_Overwatch.Models.Hero

<div>
    <ul class="breadcrumb pull-left">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Heroes", "Index", "Heroes")</li>
        <li>@ViewBag.name</li>
    </ul>
</div>

<div class="jumbotron text-center">
    <h1 class="big-noodle">@Html.DisplayFor(model => model.HeroName)</h1>
    <h3>@Html.DisplayFor(model => model.Category)</h3>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 text-center">
            <img height="300px" width="auto" src="@Url.Content(Model.Image)" /> 
        </div>
        <div class="col-md-3 text-center">
            <h3 class="big-noodle">Strengths</h3>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="col-md-3 text-center">
            <h3 class="big-noodle">Counters</h3>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="col-md-3 text-center">
            <h3 class="big-noodle">Hero Synergy</h3>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center">
        </div>
        <div class="col-md-3 text-center">
            <h3 class="big-noodle">Weaknesses</h3>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="col-md-3 text-center">
            <h3 class="big-noodle">Countered By</h3>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="col-md-3 text-center">
            <h3 class="big-noodle">Hero Discord</h3>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="create">
            <form>
                <div class="form-group">
                    <label for="comment">Comments</label>
                    <input type="text" class="form-control" id="comment" placeholder="New Comment">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
    

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="comment-section">
            <hr />
            test
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

