@model IEnumerable<Project_1_Overwatch.Models.Hero>

@{
    ViewBag.Title = "Index";
}

<head>
    <link rel="stylesheet" href="~/Content/css/herothumbnail.css" />
</head>

<div>
    <ul class="breadcrumb pull-left">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>Heroes</li>
    </ul>
</div>
<div class="jumbotron text-center">
    <h1 class="big-noodle">Heroes</h1>
</div>


<div class="container-fluid">
    <div class="row text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <img height="" id="classpic" src="~/Content/images/roles/OffenseIcon.png" />
            <h2 class="big-noodle">Offense</h2>
        </div>
        <div class="col-md-3"></div>

    </div>
    <div class="row text-center">
        <div class="col-md-2"></div>
        <p class="col-md-1"><a href="@Url.Action("", "Heroes")"><img class="hero-thumbnail" src="~/Content/images/heroes/Icon-doomfist.png" /></a></p>
        <p class="col-md-1"><a href="@Url.Action("", "Heroes")"><img class="hero-thumbnail" src="~/Content/images/heroes/Icon-genji.png" /></a></p>
        <p class="col-md-1"><a href="@Url.Action("", "Heroes")"><img class="hero-thumbnail" src="~/Content/images/heroes/Icon-mccree.png" /></a></p>
        <p class="col-md-1"><a href="@Url.Action("", "Heroes")"><img class="hero-thumbnail" src="~/Content/images/heroes/Icon-pharah.png" /></a></pclass="col-md-1">
        <p class="col-md-1"><a href="@Url.Action("", "Heroes")"><img class="hero-thumbnail" src="~/Content/images/heroes/Icon-reaper.png" /></a></p>
        <p class="col-md-1"><a href="@Url.Action("", "Heroes")"><img class="hero-thumbnail" src="~/Content/images/heroes/Icon-Soldier76.png" /></a></p>
        <p class="col-md-1"><a href="@Url.Action("", "Heroes")"><img class="hero-thumbnail" src="~/Content/images/heroes/Icon-sombra.png" /></a></p>
        <p class="col-md-1"><a href="@Url.Action("", "Heroes")"><img class="hero-thumbnail" src="~/Content/images/heroes/Icon-tracer.png" /></a></p>
        <div class="col-md-2"></div>
    </div>

    <div class="row text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <img src="~/Content/images/roles/DefenseIcon.png" />
            <h2 class="big-noodle">Defense</h2>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row text-center">
        <div class="col-md-3"></div>
        <p class="col-md-1"><a href="@Url.Action("", "Heroes")"><img class="hero-thumbnail" src="~/Content/images/heroes/Icon-bastion.png" /></a></p>
        <p class="col-md-1"><a href="@Url.Action("", "Heroes")"><img class="hero-thumbnail" src="~/Content/images/heroes/Icon-hanzo.png" /></a></p>
        <p class="col-md-1"><a href="@Url.Action("", "Heroes")"><img class="hero-thumbnail" src="~/Content/images/heroes/Icon-Junkrat.png" /></a></p>
        <p class="col-md-1"><a href="@Url.Action("", "Heroes")"><img class="hero-thumbnail" src="~/Content/images/heroes/Icon-mei.png" /></a></p>
        <p class="col-md-1"><a href="@Url.Action("", "Heroes")"><img class="hero-thumbnail" src="~/Content/images/heroes/Icon-torbjorn.png" /></a></p>
        <p class="col-md-1"><a href="@Url.Action("", "Heroes")"><img class="hero-thumbnail" src="~/Content/images/heroes/Icon-widowmaker.png" /></a></p>
        <div class="col-md-3"></div>
    </div>

    <div class="row text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <img src="~/Content/images/roles/TankIcon.png" />
            <h2 class="big-noodle">Defense</h2>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row text-center">
        <div class="col-md-3"></div>
        <p class="col-md-1"><a href="@Url.Action("Details", "Heroes", new { id = "dva" }, null)"><img class="hero-thumbnail" src="~/Content/images/heroes/Icon-dva.png" /></a></p>
        <p class="col-md-1"><a href="@Url.Action("", "Heroes")"><img class="hero-thumbnail" src="~/Content/images/heroes/Icon-orisa.png" /></a></p>
        <p class="col-md-1"><a href="@Url.Action("", "Heroes")"><img class="hero-thumbnail" src="~/Content/images/heroes/Icon-reinhardt.png" /></a></p>
        <p class="col-md-1"><a href="@Url.Action("", "Heroes")"><img class="hero-thumbnail" src="~/Content/images/heroes/Icon-Roadhog.png" /></a></p>
        <p class="col-md-1"><a href="@Url.Action("", "Heroes")"><img class="hero-thumbnail" src="~/Content/images/heroes/Icon-winston.png" /></a></p>
        <p class="col-md-1"><a href="@Url.Action("", "Heroes")"><img class="hero-thumbnail" src="~/Content/images/heroes/Icon-zarya.png" /></a></p>
        <div class="col-md-3"></div>
    </div>

    <div class="row text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <img src="~/Content/images/roles/SupportIcon.png" />
            <h2 class="big-noodle">Support</h2>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row text-center">
        <div class="col-md-3"></div>
        <p class="col-md-1"><a href="@Url.Action("", "Heroes")"><img class="hero-thumbnail" src="~/Content/images/heroes/Icon-ana.png" /></a></p>
        <p class="col-md-1"><a href="@Url.Action("", "Heroes")"><img class="hero-thumbnail" src="~/Content/images/heroes/Icon-Lucio.png" /></a></p>
        <p class="col-md-1"><a href="@Url.Action("", "Heroes")"><img class="hero-thumbnail" src="~/Content/images/heroes/Icon-mercy.png" /></a></p>
        <p class="col-md-1"><a href="@Url.Action("", "Heroes")"><img class="hero-thumbnail" src="~/Content/images/heroes/Icon-moira.png" /></a></p>
        <p class="col-md-1"><a href="@Url.Action("", "Heroes")"><img class="hero-thumbnail" src="~/Content/images/heroes/Icon-symmetra.png" /></a></p>
        <p class="col-md-1"><a href="@Url.Action("", "Heroes")"><img class="hero-thumbnail" src="~/Content/images/heroes/Icon-zenyatta.png" /></a></p>
        <div class="col-md-3"></div>
    </div>
</div>