@model IEnumerable<Project_1_Overwatch.Models.Hero>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Strengths)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weaknesses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Counters)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Counteredby)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Synergy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discord)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Strengths)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weaknesses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Counters)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Counteredby)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Synergy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discord)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HeroName }) |
            @Html.ActionLink("Details", "Details", new { id=item.HeroName }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HeroName })
        </td>
    </tr>
}

</table>
