
@{
    ViewBag.Title = "Index";
}

<head>
    <link rel="stylesheet" href="~/Content/css/herothumbnail.css" />
</head>

 <ul class="breadcrumb pull-left">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>Heroes</li>
</ul>

<div class="jumbotron text-center">
    <h1 class="big-noodle">Heroes</h1>
    <h2></h2>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-offset-3">
            <img class="img-responsive hero-thumbnail" src="~/Content/images/roles/OffenseIcon.png" />
            <h2 class="big-noodle">Offense</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <p><a href="@Url.Action("heroDetails", "Heroes", new { name = "Doomfist" })"><img class="img-responsive hero-thumbnail" src="~/Content/images/heroes/Icon-doomfist.png" /></a></p>
            <p><a href="@Url.Action("heroDetails", "Heroes", new { name = "Genji" })"><img class="img-responsive hero-thumbnail" src="~/Content/images/heroes/Icon-genji.png" /></a></p>
            <p><a href="@Url.Action("heroDetails", "Heroes", new { name = "McCree" })"><img class="img-responsive hero-thumbnail" src="~/Content/images/heroes/Icon-mccree.png" /></a></p>
            <p><a href="@Url.Action("", "Heroes")"><img class="img-responsive hero-thumbnail" src="~/Content/images/heroes/Icon-pharah.png" /></a></p>
            <p><a href="@Url.Action("", "Heroes")"><img class="img-responsive hero-thumbnail" src="~/Content/images/heroes/Icon-reaper.png" /></a></p>
            <p><a href="@Url.Action("", "Heroes")"><img class="img-responsive hero-thumbnail" src="~/Content/images/heroes/Icon-Soldier76.png" /></a></p>
            <p><a href="@Url.Action("", "Heroes")"><img class="img-responsive hero-thumbnail" src="~/Content/images/heroes/Icon-sombra.png" /></a></p>
            <p><a href="@Url.Action("", "Heroes")"><img class="img-responsive hero-thumbnail" src="~/Content/images/heroes/Icon-tracer.png" /></a></p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3 col-lg-offset-3">
            <img class="img-responsive" src="~/Content/images/roles/DefenseIcon.png" />
        </div>
        <div class="col-md-6">
            <h2 class="big-noodle">Defense</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-1 col-sm-offset-3">
            <p><a href="@Url.Action("", "Heroes")"><img class="img-responsive" src="~/Content/images/heroes/Icon-bastion.png" /></a></p>
        </div>
        <div class="col-sm-1">
            <p><a href="@Url.Action("", "Heroes")"><img class="img-responsive" src="~/Content/images/heroes/Icon-hanzo.png" /></a></p>
        </div>
        <div class="col-sm-1">
            <p><a href="@Url.Action("", "Heroes")"><img class="img-responsive" src="~/Content/images/heroes/Icon-Junkrat.png" /></a></p>
        </div>
        <div class="col-sm-1">
            <p><a href="@Url.Action("", "Heroes")"><img class="img-responsive" src="~/Content/images/heroes/Icon-mei.png" /></a></p>
        </div>
        <div class="col-sm-1">
            <p><a href="@Url.Action("", "Heroes")"><img class="img-responsive" src="~/Content/images/heroes/Icon-torbjorn.png" /></a></p>
        </div>
        <div class="col-sm-1">
            <p><a href="@Url.Action("", "Heroes")"><img class="img-responsive" src="~/Content/images/heroes/Icon-widowmaker.png" /></a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-lg-offset-3">
            <img class="img-responsive" src="~/Content/images/roles/TankIcon.png" />
        </div>
        <div class="col-md-6">
            <h2 class="big-noodle">Tank</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-1 col-sm-offset-3">
            <p><a href="@Url.Action("", "Heroes")"><img class="img-responsive" src="~/Content/images/heroes/Icon-dva.png" /></a></p>
        </div>
        <div class="col-sm-1">
            <p><a href="@Url.Action("", "Heroes")"><img class="img-responsive" src="~/Content/images/heroes/Icon-orisa.png" /></a></p>
        </div>
        <div class="col-sm-1">
            <p><a href="@Url.Action("", "Heroes")"><img class="img-responsive" src="~/Content/images/heroes/Icon-reinhardt.png" /></a></p>
        </div>
        <div class="col-sm-1">
            <p><a href="@Url.Action("", "Heroes")"><img class="img-responsive" src="~/Content/images/heroes/Icon-Roadhog.png" /></a></p>
        </div>
        <div class="col-sm-1">
            <p><a href="@Url.Action("", "Heroes")"><img class="img-responsive" src="~/Content/images/heroes/Icon-winston.png" /></a></p>
        </div>
        <div class="col-sm-1">
            <p><a href="@Url.Action("", "Heroes")"><img class="img-responsive" src="~/Content/images/heroes/Icon-zarya.png" /></a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-lg-offset-3">
            <img class="img-responsive" src="~/Content/images/roles/SupportIcon.png" />
        </div>
        <div class="col-md-6">
            <h2 class="big-noodle">Support</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-1 col-sm-offset-3">
            <p><a href="@Url.Action("", "Heroes")"><img class="img-responsive" src="~/Content/images/heroes/Icon-ana.png" /></a></p>
        </div>
        <div class="col-sm-1">
            <p><a href="@Url.Action("", "Heroes")"><img class="img-responsive" src="~/Content/images/heroes/Icon-Lucio.png" /></a></p>
        </div>
        <div class="col-sm-1">
            <p><a href="@Url.Action("", "Heroes")"><img class="img-responsive" src="~/Content/images/heroes/Icon-mercy.png" /></a></p>
        </div>
        <div class="col-sm-1">
            <p><a href="@Url.Action("", "Heroes")"><img class="img-responsive" src="~/Content/images/heroes/Icon-moira.png" /></a></p>
        </div>
        <div class="col-sm-1">
            <p><a href="@Url.Action("", "Heroes")"><img class="img-responsive" src="~/Content/images/heroes/Icon-symmetra.png" /></a></p>
        </div>
        <div class="col-sm-1">
            <p><a href="@Url.Action("", "Heroes")"><img class="img-responsive" src="~/Content/images/heroes/Icon-zenyatta.png" /></a></p>
        </div>
    </div>
</div>



