@model IEnumerable<Project_1_Overwatch.Models.Hero>

@{
    ViewBag.Title = "Index";
}

<head>
    <link rel="stylesheet" href="~/Content/css/heroindex.css" />
</head>

<div>
    <ul class="breadcrumb pull-left">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>Heroes</li>
    </ul>
</div>
<div class="jumbotron text-center">
    <h1 class="big-noodle">Heroes</h1>
</div>


<div class="container-fluid">
    <div class="row text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1 class="big-noodle"><img height="40px" width="40px" src="~/Content/images/roles/OffenseIcon-Dark.png" />Offense</h1>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row text-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="img-thumbnail">
                <a href="@Url.Action("Details", "Heroes", new { id = "doomfist" }, null)">
                    <img src="~/Content/images/heroes/Icon-doomfist.png">
                    <div class="caption">
                        <h3 class="big-noodle">Doomfist</h3>
                    </div>
                </a>
            </div>

            <div class="img-thumbnail">
                <a href="@Url.Action("Details", "Heroes", new { id = "genji" }, null)">
                    <img src="~/Content/images/heroes/Icon-genji.png">
                    <div class="caption">
                        <h3 class="big-noodle">Genji</h3>
                    </div>
                </a>
            </div>

            <div class="img-thumbnail">
                <a href="@Url.Action("Details", "Heroes", new { id = "mccree" }, null)">
                    <img src="~/Content/images/heroes/Icon-mccree.png">
                    <div class="caption">
                        <h3 class="big-noodle">McCree</h3>
                    </div>
                </a>
            </div>

            <div class="img-thumbnail">
                <a href="@Url.Action("Details", "Heroes", new { id = "pharah" }, null)">
                    <img src="~/Content/images/heroes/Icon-pharah.png">
                    <div class="caption">
                        <h3 class="big-noodle">Pharah</h3>
                    </div>
                </a>
            </div>

            <div class="img-thumbnail">
                <a href="@Url.Action("Details", "Heroes", new { id = "reaper" }, null)">
                    <img src="~/Content/images/heroes/Icon-reaper.png">
                    <div class="caption">
                        <h3 class="big-noodle">Reaper</h3>
                    </div>
                </a>
            </div>

            <div class="img-thumbnail">
                <a href="@Url.Action("Details", "Heroes", new { id = "soldier76" }, null)">
                    <img src="~/Content/images/heroes/Icon-Soldier76.png">
                    <div class="caption">
                        <h3 class="big-noodle">Soldier: 76</h3>
                    </div>
                </a>
            </div>

            <div class="img-thumbnail">
                <a href="@Url.Action("Details", "Heroes", new { id = "sombra" }, null)">
                    <img src="~/Content/images/heroes/Icon-sombra.png">
                    <div class="caption">
                        <h3 class="big-noodle">Sombra</h3>
                    </div>
                </a>
            </div>

            <div class="img-thumbnail">
                <a href="@Url.Action("Details", "Heroes", new { id = "tracer" }, null)">
                    <img src="~/Content/images/heroes/Icon-tracer.png">
                    <div class="caption">
                        <h3 class="big-noodle">Tracer</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <h1 class="big-noodle"><img height="40px" width="40px" src="~/Content/images/roles/DefenseIcon-Dark.png" />Defense</h1>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="img-thumbnail">
                <a href="@Url.Action("Details", "Heroes", new { id = "bastion" }, null)">
                    <img src="~/Content/images/heroes/Icon-bastion.png">
                    <div class="caption">
                        <h3 class="big-noodle">Bastion</h3>
                    </div>
                </a>
            </div>

            <div class="img-thumbnail">
                <a href="@Url.Action("Details", "Heroes", new { id = "hanzo" }, null)">
                    <img src="~/Content/images/heroes/Icon-hanzo.png">
                    <div class="caption">
                        <h3 class="big-noodle">Hanzo</h3>
                    </div>
                </a>
            </div>

            <div class="img-thumbnail">
                <a href="@Url.Action("Details", "Heroes", new { id = "junkrat" }, null)">
                    <img src="~/Content/images/heroes/Icon-Junkrat.png">
                    <div class="caption">
                        <h3 class="big-noodle">Junkrat</h3>
                    </div>
                </a>
            </div>

            <div class="img-thumbnail">
                <a href="@Url.Action("Details", "Heroes", new { id = "mei" }, null)">
                    <img src="~/Content/images/heroes/Icon-mei.png">
                    <div class="caption">
                        <h3 class="big-noodle">Mei</h3>
                    </div>
                </a>
            </div>

            <div class="img-thumbnail">
                <a href="@Url.Action("Details", "Heroes", new { id = "torbjorn" }, null)">
                    <img src="~/Content/images/heroes/Icon-torbjorn.png">
                    <div class="caption">
                        <h3 class="big-noodle">Torbjörn</h3>
                    </div>
                </a>
            </div>

            <div class="img-thumbnail">
                <a href="@Url.Action("Details", "Heroes", new { id = "widowmaker" }, null)">
                    <img src="~/Content/images/heroes/Icon-widowmaker.png">
                    <div class="caption">
                        <h3 class="big-noodle">Widowmaker</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <h1 class="big-noodle"><img height="40px" width="40px" src="~/Content/images/roles/TankIcon-Dark.png" />Tank</h1>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="img-thumbnail">
                <a href="@Url.Action("Details", "Heroes", new { id = "dva" }, null)">
                    <img src="~/Content/images/heroes/Icon-dva.png">
                    <div class="caption">
                        <h3 class="big-noodle">D. Va</h3>
                    </div>
                </a>
            </div>

            <div class="img-thumbnail">
                <a href="@Url.Action("Details", "Heroes", new { id = "orisa" }, null)">
                    <img src="~/Content/images/heroes/Icon-orisa.png">
                    <div class="caption">
                        <h3 class="big-noodle">Orisa</h3>
                    </div>
                </a>
            </div>

            <div class="img-thumbnail">
                <a href="@Url.Action("Details", "Heroes", new { id = "reinhardt" }, null)">
                    <img src="~/Content/images/heroes/Icon-reinhardt.png">
                    <div class="caption">
                        <h3 class="big-noodle">Reinhardt</h3>
                    </div>
                </a>
            </div>

            <div class="img-thumbnail">
                <a href="@Url.Action("Details", "Heroes", new { id = "roadhog" }, null)">
                    <img src="~/Content/images/heroes/Icon-Roadhog.png">
                    <div class="caption">
                        <h3 class="big-noodle">Roadhog</h3>
                    </div>
                </a>
            </div>

            <div class="img-thumbnail">
                <a href="@Url.Action("Details", "Heroes", new { id = "winston" }, null)">
                    <img src="~/Content/images/heroes/Icon-winston.png">
                    <div class="caption">
                        <h3 class="big-noodle">Winston</h3>
                    </div>
                </a>
            </div>

            <div class="img-thumbnail">
                <a href="@Url.Action("Details", "Heroes", new { id = "zarya" }, null)">
                    <img src="~/Content/images/heroes/Icon-zarya.png">
                    <div class="caption">
                        <h3 class="big-noodle">Zarya</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <h1 class="big-noodle"><img height="40px" width="40px" src="~/Content/images/roles/SupportIcon-Dark.png" />Support</h1>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="img-thumbnail">
                <a href="@Url.Action("Details", "Heroes", new { id = "ana" }, null)">
                    <img src="~/Content/images/heroes/Icon-ana.png">
                    <div class="caption">
                        <h3 class="big-noodle">Ana</h3>
                    </div>
                </a>
            </div>

            <div class="img-thumbnail">
                <a href="@Url.Action("Details", "Heroes", new { id = "lucio" }, null)">
                    <img src="~/Content/images/heroes/Icon-Lucio.png">
                    <div class="caption">
                        <h3 class="big-noodle">Lúcio</h3>
                    </div>
                </a>
            </div>

            <div class="img-thumbnail">
                <a href="@Url.Action("Details", "Heroes", new { id = "mercy" }, null)">
                    <img src="~/Content/images/heroes/Icon-mercy.png">
                    <div class="caption">
                        <h3 class="big-noodle">Mercy</h3>
                    </div>
                </a>
            </div>

            <div class="img-thumbnail">
                <a href="@Url.Action("Details", "Heroes", new { id = "moira" }, null)">
                    <img src="~/Content/images/heroes/Icon-moira.png">
                    <div class="caption">
                        <h3 class="big-noodle">Moira</h3>
                    </div>
                </a>
            </div>

            <div class="img-thumbnail">
                <a href="@Url.Action("Details", "Heroes", new { id = "symmetra" }, null)">
                    <img src="~/Content/images/heroes/Icon-symmetra.png">
                    <div class="caption">
                        <h3 class="big-noodle">Symmetra</h3>
                    </div>
                </a>
            </div>

            <div class="img-thumbnail">
                <a href="@Url.Action("Details", "Heroes", new { id = "zenyatta" }, null)">
                    <img src="~/Content/images/heroes/Icon-zenyatta.png">
                    <div class="caption">
                        <h3 class="big-noodle">Zenyatta</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>